body{
background-size: cover;
}
.heading{
font-size: 30px;
margin: 0px;
width: 100%;
}
#boton,#etiqueta,#status{
    font-size: 20px;
}
.copy_right_footer{
    position: fixed;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    line-height: 3;
    bottom: 0;
}
canvas{
    border: 2px white;
    border-radius: 10px;
    margin-top: 120px;
    box-shadow: 7px 7px 7px dodgerblue;
    background-color: white;
}